@{
    ViewBag.Title = "Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Forum";
}
<div class="container">
    <h1>Forum</h1>

    <div class="publicite well">
        Encart de publicité
    </div>

    <div class="rechercheForum">
        <div class="moduleRecherche form-group input-group">
            <input type="text" class="form-control" placeholder="Recherche Forum">
            <select class="form-control">
                <option value="Categorie">Categorie</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <a name="hautpage" id="hautpage"></a>
    <div class="list-group"><div class="list-group-item">Forum > Jeux > Poker > Texas Hold'Em </div></div>
    @foreach (var m in ViewBag.messages)
    {

        <div class="list-group">

            <div class="row list-group-item">
                <div class="col-sm-2">
                    <p><img class="img-circle forumImgDisc" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" /></p>
                </div>
                <div class="col-sm-10">
                    <h2><a href="#">Jean-Claude Duss</a></h2>
                    <p>@m.DatePoste</p>
                    <p>@m.ContenuMessage</p>
                </div>
            </div>

        </div>
    }


    <div style="text-align:center;">
        <h3>Ecris ton message :</h3>

        <textarea name="editor1" id="editor1" rows="10" style="width:100%"  class="input-sm"></textarea>
        <script>
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1');
        </script>
        <br /><center> <div><input type="button" class="btn btn-primary" value="Envoyer" /></div></center>
        <br />
    </div>

    <a href="#hautpage"><div id="btntop"><input type="button" name="top" title="TOP" value="TOP" /><div></a>
   
</div>
