@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Forum";

}
<div class="container">
    <h1>Index</h1>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        @{int i = 0;}
        @foreach (var f in ViewBag.forums)
        {

            i += 1;
            <div class="panel panel-default">

                <div class="panel-heading" role="tab" id="headingOne">
                    <h2 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#Forum-Categorie-@i" aria-expanded="true" aria-controls="collapseOne">
                            @f.Nom
                        </a>

                    </h2>
                </div>
                <div id="Forum-Categorie-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            @foreach (var c in ViewBag.categs)
                            {
                                if (c.Forum_id == f.Forum_id)
                                {

                                    <li><a href="/Forum/Topics?id=@c.Sujet_id">@c.Nom</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>

        }

    </div>
</div>