@using YOUP_Design.Classes.Forum
@{
    ViewBag.Title = "NewTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Forum";
}
<div class="container">
    <div class="publicite well">
        Encart de publicité
    </div>
    <div class="row">
        <h2>Création Topic</h2>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                //<button type="submit" class="btn btn-primary">Enregistrer</button>
                <div class="form-group">
                    <label for="TitreTopic">Titre</label>
                    <input type="text" class="form-control" id="TitreTopic" name="TitreTopic">
                    <br>

                    <label for="editor1">Informations supplémentaires :</label>

                    <textarea name="editor1" id="editor1" rows="10" style="width:100%" class="input-sm"></textarea>
                    <script>
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace('editor1');
                    </script>

                </div>

                // ON PASSE L'ID DE LA CATEGORIE OU ON CREE LE TOPIC !
                <input type="hidden" name="idCateg" id="idCateg" value="@Request["id"]" />
                <a href="javascript:history.back()"><input type="submit" value="envoyer" class="btn btn-primary" /></a>
            }


        </div>
    </div>
</div>