@{
    Layout = null;
}

<div class="row divAmis">
    <div class="col-lg-4">
        <span class="titreAmis">Suggestion :</span>
        <div class="panel panel-default panelAmis">
            <ul class="panel-body list-group">

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <span class="titreAmis">En attente :</span>
        <div class="panel panel-default panelAmis">
            <ul class="panel-body list-group">

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <span class="titreAmis">Amis :</span>
        <div class="panel panel-default panelAmis">
            <ul class="panel-body list-group">

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="~/Images/default_profil.png" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
</div>