<link href="~/Content/css/profile.css" rel="stylesheet" />

<div class="row ">
    <div class="col-lg-offset-2 col-lg-8 text-center">

        <div class="activiteProfil">
            <img id="idPhotoProfilPetit" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil" class="img-circle">
            <p class="txtActivite"><a href="#">Florian Laubier</a> s'est inscrit à l'évènement <a href="#">Partie de bowling</a></p>
            <br/>
            <div class="col-lg-offset-4 col-lg-4 decoSeparationTxt" ></div>
        </div>
        <br/>

        <div class="activiteProfil">
            <img id="idPhotoProfilPetit" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil" class="img-circle">
            <p class="txtActivite"><a href="#">Florian Laubier</a> s'est inscrit à l'évènement <a href="#">Partie de bowling</a></p>
            <br/>
            <div class="col-lg-offset-4 col-lg-4 decoSeparationTxt"></div>
        </div>
    </div>
</div>