@{
    Layout = null;
}

<div class="row divAmis">
    <div class="col-lg-4">
        <span class="titreAmis">Suggestion :</span>
        <div class="panel panel-default panelAmis">
            <ul class="panel-body list-group">

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <span class="titreAmis">En attente :</span>
        <div class="panel panel-default panelAmis">
            <ul class="panel-body list-group">

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <span class="titreAmis">Amis :</span>
        <div class="panel panel-default panelAmis">
            <ul class="panel-body list-group">

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

                <li class="list-group-item liAmis">
                    <img class="photoProfilAmis img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil Amis">
                    Dupont Jean charle
                    <button type="button" class=" badge btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>

            </ul>
        </div>
    </div>
</div>