@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //evenementModule.init();
    });
</script>

<div class="container divAllEvenement">
    <div class="publicite well">
        Encart de publicité
    </div>

    <div class="rechercheEvenement">
        <div class="moduleRechercheEvenement form-group input-group">
            <input type="text" class="form-control" placeholder="Rechercher dans évènement">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>

        <div class="selectCategorieEvent">
            <select class="form-control">
                <option>Catégorie</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="selectRegionEvent">
            <select class="form-control">
                <option>Région</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="selectRegionEvent">
            <select class="form-control">
                <option>Date</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>

    <div class="row triEvenenemt">
        <div class="col-lg-2 text-right" >
            Trier par :
        </div>
        <div id="menuEvent" class=" col-lg-6 text-center">
            <div class=" btn-group btn-group-justified menuEvenement">
                <a id="liendisp" class="btn btn-default">Disponibilité</a>
                <a id="lienCate" class="btn btn-default">Catégorie</a>
                <a id="lienDate" class="btn btn-default">Date</a>
            </div>
        </div>
    </div>

    <div class="row timelineEvent">
        <div class="col-lg-9">
            
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Aujourd'hui</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>


        <div class=" col-lg-3" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Premium</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>


</div>
