@{
    ViewBag.Title = "Time Line";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
@Scripts.Render("~/Scripts/knockout-2.2.0.js")
@Scripts.Render("~/Content/js/evenements.js")
<script type="text/javascript">
    $(document).ready(function () {
        evenementModule.init();
    });
</script>

<div class="container divAllEvenement">
    <div class="encartPoub well">
        Encart de publicité
    </div>

    <div class="rechercheEvenement" style="display: flex;">
        <div class=" moduleRechercheEvenement form-group input-group">
        <input type="text" class="form-control" placeholder="Rechercher dans évènement">
    </div>

        <div class="selectCategorieEvent">
            <select class="form-control">
                <option>Catégorie</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="selectRegionEvent">
            <select class="form-control">
                <option>Région</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="selectDateEvent">
            <select class="form-control">
                <option>Date</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btnRechercherEvenement">Rechercher</button>
       
    </div>

    <div class="row triEvenenemt">
        <div class=" col-lg-offset-1 col-lg-2 text-right" >
            Trier par :
        </div>
        <div id="menuEvent" class=" col-lg-6 text-center">
            <div class=" btn-group btn-group-justified menuEvenement">
                <a id="liendisp" class="btn btn-default">Disponibilité</a>
                <a id="lienCate" class="btn btn-default">Catégorie</a>
                <a id="lienDate" class="btn btn-default">Date</a>
            </div>
        </div>
        <div class="col-lg-2">

           @using(Html.BeginForm("Creation","Evenements", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary btnRechercherEvenement">Créer un évènement</button>
            }
        </div>
    </div>

    <div id="timeLineEvent" class="row timelineEvent">
        <div class="col-lg-12">
            <!-- Rajouter dans col-lg-9 les différents panel comme aujourd'hui, demain ou les catégories -->

            <div class="panel panel-default " data-bind="foreach: { data: listeEvenementDate, as: 'evenementDate' }">
                <div class=" panel-heading text-center">
                    <h3 class="panel-title" data-bind="text: evenementDate.date">Aujourd'hui</h3>
                </div>
                <div class="panel-body">

                    <!-- code à générer pour un event -->
                    <div data-bind="foreach: { data: evenementDate.listeEvenements, as: 'evt' }">
                        <a class="row moreOneEvent" href="#" data-bind="'evenementId': idEvenement, visible: visible, click: goDetail">
                            <div class="col-lg-2">
                                <img class="photoTimelineEvent img-responsive img-rounded text-center" src="~/Images/default_profil.png" alt="photo evenement" data-bind="src: evt.imgEvt()">
                            </div>
                            <div class="col-lg-10">
                                <span class="titreTimelineEvent" data-bind="text: evt.titre"></span>
                                <div>
                                    <img class="photoTimelineProfil img-circle" src="~/Images/default_profil.png" alt="photo evenement">
                                    <span class="parUtilisateur" data-bind="text: evt.utilisateur"></span>
                                </div>
                                <div class="descriptionEventTimeline" data-bind="text: evt.description">
                                </div>
                                <div class="dateEtVille">
                                    Le <span class="dateEventTimeline" data-bind="text: evt.date"></span> à <span class="villeEventTimeline" data-bind="text: evt.adresse().ville"></span>
                                </div>

                                <div class="row text-left informationEventTimeline">
                                    <div class="col-lg-6">
                                        Catégorie : <span class="categorieEventTimeline" data-bind="text: evt.catégorie"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="nombrePartEventTimeline" data-bind="text: evt.nbParticipant"></span>/<span data-bind="text: evt.nbMaxParticipant"></span> participants
                                    </div>
                                </div>

                                <div class="row text-left informationEventTimeline">
                                    <div class="col-lg-6">
                                        Prix de l'évènenement : <span class="typeEventTimeline" data-bind="text: evt.prix()"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- FIN du code à générer pour un event -->

                    <div class="text-center" data-bind="visible : evenementDate.listeEvenements().length == 0">
                        Il n'y a aucun évènement pour <span data-bind="text: evenementDate.date"></span>... Courage !
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
