@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //evenementModule.init();
    });
</script>

<div class="container divAllEvenement">
    <div class="encartPoub well">
        Encart de publicité
    </div>

    <div class="rechercheEvenement">
        <div class="moduleRechercheEvenement form-group input-group">
            <input type="text" class="form-control" placeholder="Rechercher dans évènement">
        </div>

        <div class="selectCategorieEvent">
            <select class="form-control">
                <option>Catégorie</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="selectRegionEvent">
            <select class="form-control">
                <option>Région</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="selectRegionEvent">
            <select class="form-control">
                <option>Date</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btnRechercherEvenement">Rechercher</button>

    </div>

    <div class="row triEvenenemt">
        <div class=" col-lg-offset-1 col-lg-2 text-right" >
            Trier par :
        </div>
        <div id="menuEvent" class=" col-lg-6 text-center">
            <div class=" btn-group btn-group-justified menuEvenement">
                <a id="liendisp" class="btn btn-default">Disponibilité</a>
                <a id="lienCate" class="btn btn-default">Catégorie</a>
                <a id="lienDate" class="btn btn-default">Date</a>
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary btnRechercherEvenement">Créer un évènement</button>

        </div>
    </div>

    <div class="row timelineEvent">
        <div class="col-lg-9">
            <!-- Rajouter dans col-lg-9 les différents panel comme aujourd'hui, demain ou les catégories -->

            <!-- Panel Aujourd'hui -->
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Aujourd'hui</h3>
                </div>
                <div class="panel-body">
                    <!-- code à générer pour un event -->
                    <div class="row">
                        <div class="col-lg-2">
                            <img class="photoTimelineEvent img-responsive img-rounded text-center" src="~/Images/default_profil.png" alt="photo evenement">
                        </div>
                        <div class="col-lg-10">
                            <span class="titreTimelineEvent">Titre de l'évènement</span>
                            <div>
                                <img class="photoTimelineProfil img-circle" src="~/Images/default_profil.png" alt="photo evenement">
                                <span class="parUtilisateur">Par Francis Lalane</span>
                            </div>
                            <div class="descriptionEventTimeline">
                                Quidem hoc sumenda habeat aut de accedunt eorum sunt impetrare novit velint sed de
                                aut hoc accedunt eorum sapientiam perfecta rectum qui quidem velimus perfecta sapienti
                                a exempla hoc vidimus quos accepimus sunt simus qui ab quidem maxime impetrare numero de
                                simus amicis quos vita vel vel iis vel si loquimur.
                            </div>
                            <div class="dateEtVille">
                                Le <span class="dateEventTimeline">15/11/2014</span> à <span class="villeEventTimeline">Bordeaux</span>
                            </div>

                            <div class="row text-left informationEventTimeline">
                                <div class="col-lg-6">
                                    Catégorie : <span class="categorieEventTimeline">Sport</span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="nombrePartEventTimeline">3/5</span> participants
                                </div>
                            </div>

                            <div class="row text-left informationEventTimeline">
                                <div class="col-lg-6">
                                    <span class="nombreAttenteEventTimeline">5</span> personnes en attente.
                                </div>
                                <div class="col-lg-6">
                                    Evènenement <span class="typeEventTimeline">Gratuit</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- FIN du code à générer pour un event -->
                </div>
            </div>

            <!-- Demain avec aucun event -->
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Demain</h3>
                </div>
                <div class="panel-body">

                    <div class="text-center">
                        Il n'y a aucun évènement pour demain... Courage !
                    </div>
                   
                </div>
            </div>

            <!-- La semaine pro avec 2 events -->
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">La semaine prochaine</h3>
                </div>
                <div class="panel-body">
                    
                    <!-- code à générer pour un event -->
                    <div class="row">
                        <div class="col-lg-2">
                            <img class="photoTimelineEvent img-responsive img-rounded text-center" src="~/Images/default_profil.png" alt="photo evenement">
                        </div>
                        <div class="col-lg-10">
                            <span class="titreTimelineEvent">Titre de l'évènement</span>
                            <div>
                                <img class="photoTimelineProfil img-circle" src="~/Images/default_profil.png" alt="photo evenement">
                                <span class="parUtilisateur">Par Francis Lalane</span>
                            </div>
                            <div class="descriptionEventTimeline">
                                Quidem hoc sumenda habeat aut de accedunt eorum sunt impetrare novit velint sed de
                                aut hoc accedunt eorum sapientiam perfecta rectum qui quidem velimus perfecta sapienti
                                a exempla hoc vidimus quos accepimus sunt simus qui ab quidem maxime impetrare numero de
                                simus amicis quos vita vel vel iis vel si loquimur.
                            </div>
                            <div class="dateEtVille">
                                Le <span class="dateEventTimeline">15/11/2014</span> à <span class="villeEventTimeline">Bordeaux</span>
                            </div>

                            <div class="row text-left informationEventTimeline">
                                <div class="col-lg-6">
                                    Catégorie : <span class="categorieEventTimeline">Sport</span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="nombrePartEventTimeline">3/5</span> participants
                                </div>
                            </div>

                            <div class="row text-left informationEventTimeline">
                                <div class="col-lg-6">
                                    <span class="nombreAttenteEventTimeline">5</span> personnes en attente.
                                </div>
                                <div class="col-lg-6">
                                    Evènenement <span class="typeEventTimeline">Gratuit</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- FIN du code à générer pour un event -->
                    <!-- code à générer pour un 2eme event, juste la classe moreOneEvent à rajouter pour tirer un trait entre 2 events -->
                    <div class="row moreOneEvent">
                        <div class="col-lg-2">
                            <img class="photoTimelineEvent img-responsive img-rounded text-center" src="~/Images/default_profil.png" alt="photo evenement">
                        </div>
                        <div class="col-lg-10">
                            <span class="titreTimelineEvent">Titre de l'évènement</span>
                            <div>
                                <img class="photoTimelineProfil img-circle" src="~/Images/default_profil.png" alt="photo evenement">
                                <span class="parUtilisateur">Par Francis Lalane</span>
                            </div>
                            <div class="descriptionEventTimeline">
                                Quidem hoc sumenda habeat aut de accedunt eorum sunt impetrare novit velint sed de
                                aut hoc accedunt eorum sapientiam perfecta rectum qui quidem velimus perfecta sapienti
                                a exempla hoc vidimus quos accepimus sunt simus qui ab quidem maxime impetrare numero de
                                simus amicis quos vita vel vel iis vel si loquimur.
                            </div>
                            <div class="dateEtVille">
                                Le <span class="dateEventTimeline">15/11/2014</span> à <span class="villeEventTimeline">Bordeaux</span>
                            </div>

                            <div class="row text-left informationEventTimeline">
                                <div class="col-lg-6">
                                    Catégorie : <span class="categorieEventTimeline">Sport</span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="nombrePartEventTimeline">3/5</span> participants
                                </div>
                            </div>

                            <div class="row text-left informationEventTimeline">
                                <div class="col-lg-6">
                                    <span class="nombreAttenteEventTimeline">5</span> personnes en attente.
                                </div>
                                <div class="col-lg-6">
                                    Evènenement <span class="typeEventTimeline">Gratuit</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- FIN du code à générer pour un event -->
                    
                </div>
            </div>
            
        </div>



        <!-- Panel Premium -->
        <div class=" col-lg-3 contenuTimelinePremium" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Premium</h3>
                </div>
                <div class="panel-body contenuTimeline ">
                    <!-- code à générer pour un event -->
                    <div class="">
                        <div class="imgPremiumTimeline">
                            <img class="photoTimelineEvent img-responsive img-rounded" src="~/Images/default_profil.png" alt="photo evenement">
                        </div>

                        <span class="titreTimelineEvent">Titre de l'évènement</span>
                        <div>
                            <img class="photoTimelineProfil img-circle" src="~/Images/default_profil.png" alt="photo evenement">
                            <span class="parUtilisateur">Par Francis Lalane</span>
                        </div>
                        <div class="descriptionEventTimeline">
                            Quidem hoc sumenda habeat aut de accedunt eorum sunt impetrare novit velint sed de
                            aut hoc accedunt eorum sapientiam perfecta rectum qui quidem velimus perfecta sapienti
                            a exempla hoc vidimus quos accepimus sunt simus qui ab quidem maxime impetrare numero de
                            simus amicis quos vita vel vel iis vel si loquimur.
                        </div>
                        <div class="dateEtVille">
                            Le <span class="dateEventTimeline">15/11/2014</span> à <span class="villeEventTimeline">Bordeaux</span>
                        </div>

                        <div class="row text-left informationEventTimeline">
                            <div class="col-lg-6">
                                Catégorie : <span class="categorieEventTimeline">Sport</span>
                            </div>
                            <div class="col-lg-6">
                                <span class="nombrePartEventTimeline">3/5</span> participants
                            </div>
                        </div>

                        <div class="row text-left informationEventTimeline">
                            <div class="col-lg-6">
                                <span class="nombreAttenteEventTimeline">5</span> personnes en attente.
                            </div>
                            <div class="col-lg-6">
                                Evènenement <span class="typeEventTimeline">Gratuit</span>
                            </div>
                        </div>

                    </div>

                    <!-- FIN du code à générer pour un event -->
                </div>
            </div>
        </div>
    </div>


</div>
