@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var user in ViewBag.usersResults)
{
    <h1>@user.Nom</h1>
}

@foreach (var youpevent in ViewBag.eventsResults)
{
    <h1>@youpevent.TitreEvenement</h1>
}