@model IEnumerable<YOUP_Design.Classes.Historique.Utilisateur>
<link href="~/Content/css/historique.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h2>Liste des tops</h2>
    </div>
</div>

    @{int compt = 0;}

    @foreach (var m in Model)
    {
        if (compt<5)
        {
            <div class="row">          
                <div class="col-lg-offset-2 col-lg-8 text-center">
                    <h3>Top 5 des amis</h3>
                    <div class=" topContainer">
                        <div class=" topHisto">
                            <img class="img-circle imgHistoTop" src=@m.CheminPhoto alt="">
                            <p class="txtHisto">@m.Pseudo - @m.NbAmis</p>
                        </div>
                    </div>
                 </div>
            </div>
        }
        else
	    {
	         <div class="row">
                <div class="col-lg-offset-2 col-lg-8 text-center">
                    <h3>Top 5 des créateurs</h3>
                    <div class=" topContainer">
                        <div class=" topHisto">
                            <img class="img-circle imgHistoTop" src=@m.CheminPhoto alt="">
                            <p class="txtHisto">@m.Pseudo - @m.NbEvenmentPropose</p>
                        </div>                       
                    </div>
                </div>
            </div>   
	    }
        compt++;
        
    }
