@model IEnumerable<YOUP_Design.Classes.Historique.Evenement>

<link href="~/Content/css/historique.css" rel="stylesheet" />
<script type="text/javascript">
    
    $(document).ready(function () {
        $('#exampleInputDateDebut').on('change',function () {
            //alert(this.value);         //Date in full format alert(new Date(this.value));
            var inputDate = new Date(this.value);
        });

        $('#exampleInputDateFin').on('change', function () {
            //alert(this.value);         //Date in full format alert(new Date(this.value));
            var inputDate = new Date(this.value);
        });
    });

    function datecheck() {
        // Returns Color code.
        var dateDebut = document.getElementById('exampleInputDateDebut').value;
        var dateFin = document.getElementById('exampleInputDateFin').value;

        var url = '@Url.Action("Saisonnalite", "Historique", new { dateDebut = "_dateDebut_" })'
            .replace('_dateDebut_', dateDebut);

        var url2 = url +"&dateFin="+dateFin;

        $.get(url2, '', function (data) {

            $("#partialgoeshere").empty();
            $("#partialgoeshere").html(data);
        });
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h2>Saisonnalité</h2>

        <div class="form-group input-group-sm">
            <p>
                Date début:
                <input type="date" class="form-control" id="exampleInputDateDebut" name="DateDebut">
            </p>

            <p>
                Date fin:
                <input type="date" class="form-control" id="exampleInputDateFin" name="DateFin">
            </p>
            <input id="SubmitButtonID" class="btn btn-primary" type="button" value="Rechercher" onclick="datecheck()" />
        </div>
        <div id="nbreven" style="width: 100%; height: 400px;"></div> @*defini la taille du graphique et l'affiche*@
        
        <script>
            $(document).ready(function () {
                var chart1 = new Highcharts.Chart({

                    chart: {
                        renderTo: 'nbreven', //id du graphique
                        type: 'spline' //type du graphique
                    },
                    title: {
                        text: 'Nombre d\'évènements par saisonalité'
                    },
                    subtitle: {
                        text: 'Graphique'
                    },
                    xAxis: { //les informations de l'axe x
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            month: '%e/%m', // JJ/MM
                            year: '%b'
                        },
                        title: {
                            text: 'Mois'
                        }
                    },
                    yAxis: { //les informations de l'axe y
                        title: {
                            text: 'Nombre d\'évènements'
                        },
                        min: 0
                    },
                    tooltip: { //les informations affichées squandi on passe par un point avec la souris
                        headerFormat: '<b>{series.name}</b><br>', // le nom dans series : année 2014-2015
                        pointFormat: '{point.x:%e/%m}: {point.y}' // format → JJ/MM : nb evenements
                    },

                    series: [{
                        name: 'année 2014-2015', // *********l'année en cours
                        // pour l'année 2014-2015
                        // en JavaScript, le mois commence par 0 pour janvier, 1 pour février, etc.
                        data: [
                            [Date.UTC(1970, 9, 27), 0],// *********la date de création d'évènements pour l'annnée en cours, nombre d'évènement créés
                            [Date.UTC(1970, 10, 10), 1],//********* ..(AAAA, MM, JJ), nb evenements]
                            [Date.UTC(1970, 10, 18), 1],
                            [Date.UTC(1970, 11, 2), 3],
                            [Date.UTC(1970, 11, 9), 1],
                            [Date.UTC(1970, 11, 16), 1],
                            [Date.UTC(1970, 11, 28), 1],
                            [Date.UTC(1971, 0, 1), 1],
                            [Date.UTC(1971, 0, 8), 1],
                            [Date.UTC(1971, 1, 12), 1],
                            [Date.UTC(1971, 2, 5), 1],
                            [Date.UTC(1971, 2, 10), 40],
                            [Date.UTC(1971, 3, 18), 1],
                            [Date.UTC(1971, 4, 2), 1],
                            [Date.UTC(1971, 4, 4), 20],
                            [Date.UTC(1971, 5, 11), 2],
                            [Date.UTC(1971, 5, 15), 6],
                            [Date.UTC(1971, 6, 25), 7],
                            [Date.UTC(1971, 7, 2), 5],
                            [Date.UTC(1971, 7, 6), 2],
                            [Date.UTC(1971, 7, 13), 100],
                            [Date.UTC(1971, 8, 3), 50],
                            [Date.UTC(1971, 8, 5), 5],
                            [Date.UTC(1971, 8, 9), 4],
                            [Date.UTC(1971, 8, 12), 2]
                        ]
                    }]
                });
            });
        </script>

    </div>
</div>
