<link href="~/Content/css/historique.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h2>Pages les plus visitées</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pages</th>
                    <th>Nombre de vues</th>
                    <th>Temps moyen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lien</td>
                    <td>1245</td>
                    <td>00:02:45</td>
                </tr>
                <tr>
                    <td>Lien</td>
                    <td>2954</td>
                    <td>00:04:14</td>
                </tr>
                <tr>
                    <td>Lien</td>
                    <td>4102</td>
                    <td>00:01:26</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
