@model IEnumerable<YOUP_Design.Classes.Historique.Utilisateur>
<link href="~/Content/css/historique.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center StatsUser">
        <h2>Statistiques d'utilisation par personne</h2>
        <div class="col-lg-12 comboHisto">
            <input type="text" id="theinput" name="theinput" />
            <select name="pseudo" onchange="combo(this, 'theinput')">
                @foreach (var m in Model)
                {
                    <option>@m.Pseudo</option>
                }

            </select>
            <input class="btn btn-primary"  type="submit" value="Envoyer"/>
        </div>
        <div class="col-lg-4 text-center">
            <strong>Date d'inscription</strong>
            <p></p>
        </div>
        <div class="col-lg-4 text-center">
            <strong>Sexe</strong>
            <p></p>
        </div>
        <div class="col-lg-4 text-center">
            <strong>Age</strong>
            <p></p>
        </div>
    </div>
    <div class="col-lg-offset-2 col-lg-8 text-center StatsUser">
        <div class="col-lg-4 text-center">
            <strong>Nombre d'évènements créés</strong>
            <p></p>
        </div>
        <div class="col-lg-4 text-center">
            <strong>Nombre d'amis</strong>
            <p></p>
        </div>
        <div class="col-lg-4 text-center">
            <strong>Participation à des évènements</strong>
            <p></p>
        </div>
    </div>

    <div class="col-lg-offset-2 col-lg-8 text-center StatsUser">
        <strong>Catégories d'évènements</strong>
         <p>Graphique</p>
    </div>
</div>
