<link href="~/Content/css/historique.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h2>Liste des tops</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h3>Top 5 des amis</h3>
        <div class=" topContainer">
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 text-center">
        <h3>Top 5 des créateurs</h3>
        <div class=" topContainer">
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
            <div class=" topHisto">
                <img class="img-circle imgHistoTop" src="~/Images/default_profil.png" alt="">
                <p class="txtHisto">Pseudo - Nombre</p>
            </div>
        </div>
    </div>
</div>
