
.blog_title {
    color:#367bb7;
    font-size:18px;
}

.photoProfil .row_blog{ 
    display: flex;
    padding-top:10px;
    justify-content: left;
    align-items: center;
}
.rechercheBlog{
    display:flex;
    padding-top:10px;
    justify-content:space-between;
}

.moduleRechercheBlog{
    width:55%;
    display:flex;
}

.article_blog {

}

.article_blog container-img {
   
}

.article_blog img{
    width:300px;
}

.btnGererBlog{
    display:flex;
    height: 34px;
    margin-right: 15px;
}

.btnGererBlog button{
    background-color: #367bb7;
    color:white;
}

.btnGererBlog button:hover{
    background-color: #3372A8;
    color:white;
}
/* Modération commentaire */

