/* evenement Index */

.rechercheEvenement{
    display:flex;
    justify-content:flex-start;
}

.moduleRechercheEvenement{
    width:30%;
    display:flex;
}

.moduleRechercheEvenement input{
    border-radius:12px !important;
}


.selectCategorieEvent{
    display:flex;
    height: 34px;
    margin-left: 15px;
}

.selectRegionEvent{
    display:flex;
    height: 34px;
    margin-left: 15px;
}
.selectDateEvent{
    display:flex;
    height: 34px;
    margin-left: 15px;
}

.btnRechercherEvenement{
    display:flex;
    height: 34px;
    margin-left: 15px;
}

/* Timeline et premium */

.timelineEvent{
    margin-top:40px;
    margin-bottom:40px;
;
}

.photoTimelineEvent{
    max-height: 100px;
}

.titreTimelineEvent{
    font-size:large;
}

.photoTimelineProfil{
    max-height:30px;
        border: 2px solid white;
}

.parUtilisateur{
    font-size:smaller;
    color: gray;
}

.descriptionEventTimeline{
    font-size:small;
        padding-top:20px;
    padding-bottom:10px;
}

.informationEventTimeline span{
    font-weight:bold;
}

.informationEventTimeline .col-lg-6{
    margin-top:15px;
}

.timelineEvent .panel-heading{
    background-color: white;
}

.timelineEvent .panel-body{
    background-color: #f5f5f5;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
}

.timelineEvent .panel-body .row{
    display:flex;
    align-items:center;
}

.timelineEvent .panel-body a{
    text-decoration: none;
    color: black;
}

.timelineEvent .panel-body a:hover{
    color: #367bb7;
}

.dateEtVille{
    font-weight:bold;
}

.imgPremiumTimeline{
    display:flex;
    justify-content:center;
    margin-bottom:10px;
}

.moreOneEvent{
    border-top: 2px solid #dddddd;
    margin-top:10px;
    padding-top:10px;
}

/* Evenement Creation */
.bodyEventCreate {
    text-align: center;
    padding-bottom: 50px;
}

#InputNombre {
    width: 20%;
    display: inline;
    margin-left: 20%;
}

#InputPayant {
    margin-right: 2%;
}

#InputPublic {
    margin-right: 3.5%;
}

#TxtAreaDescription {
    height: 200px;
}

.panelAmisInvite {
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
}