.home-fullscreen-bg {
    border-top: 1px solid rgba(255,255,255,.1);
	background-position:center; 
	background-size:cover; 
	background-repeat:no-repeat; 
	background-attachment:fixed;
    height: 100%;
    width: 100%;
}

#home-part-1 {
    background-image:url(../../Images/home-image-1.jpg);
}

.full-width {
    width:100%;
}

#home-part-1 h1{
    color:#fff;
    font-size: 70px;
}

#home-part-1 h2{
    color:#ccc;
    font-size:40px;
}

#home-part-1 .next-section {
    display:block;
    color:#fff;
    font-size:60px;
    text-align:center;
    margin-top:50px;
}

#home-part-2 {
    background-image:url(../../Images/home-image-2.jpg);
}

#home-part-2 h1{
    color:#fff;
    font-size: 50px;
}