/*=================================================================================================
		GLOBAL
=================================================================================================*/

    /*---------------------------------------------------------------------------------------------
		    Nav-bar
    ---------------------------------------------------------------------------------------------*/
    
    .navbar-brand {
        background-image: url(../../Images/nav-logo.png);
        background-repeat:no-repeat;
        width:76px;
    }

    #youp-menu {
        font-weight:400;
    }

    .nav-border {
         background-color: #367bb7;
         height:15px;
         border-bottom:1px solid #132c42;
    }

    /*---------------------------------------------------------------------------------------------
		    Footer
    ---------------------------------------------------------------------------------------------*/

    .upper-footer {
        background-color: #367bb7;
        padding: 50px;
        text-align:center;
        color:#fff;
        font-size:20px;
        font-weight:300;
    }

    .footer-links {
        list-style:none;
    }

    .upper-footer a {
        color: #fff;
    }

    .sub-footer {
        background-color:#132c42;
        text-align:center;
        color:#fff;
        padding: 10px;
    }

#main-wrapper {
    margin-top:75px;
}

/*=================================================================================================
		HOME
=================================================================================================*/

/*=================================================================================================
		EFFECTS & TRANSITIONS
=================================================================================================*/
a {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}