@{
    ViewBag.Title = "Blog_vue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Blog";
}
<div class="container">
    <div class="publicite well">
        Encart de publicité
    </div>

    @Html.Partial("~/Views/Blog/partialRechercheBlog.cshtml")

    <div class="row">
        <h2>Blog Title</h2>
        <div class="photoProfil">
            <div class="row_blog parentDecoProfil">
                <div class="col-lg-2">
                    <img id="idPhotoProfil" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" alt="photo profil" class="img-circle">
                </div>
                <div class="col-lg-2">Florian Laubier</div>
                <div class="col-lg-3 decoPhotoProfil"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Article Title</h3>
        <div class="col-lg-offset-2 col-lg-8 text-center">
            <div class="article_blog">
                <img src="http://www.pokertwitt.com/wp-content/uploads/2012/09/poker_night_by_gunblade132-d3ch6n81.jpg" alt="image" class="img-rounded">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="date_publication_article">
                <div class="row list-group-item">
                    <div class="col-sm-4">
                        Publié le : XX/XX/XXXX
                    </div>
                    <div class="col-sm-4">
                        Likes : 30
                    </div>
                    <div class="col-sm-4">
                        Comments : 30
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-4 col-lg-4 decoSeparationTxt"></div>
        </div>
    </div>
    <div class="row">
        <h3>Article Title</h3>
        <div class="col-lg-offset-2 col-lg-8 text-center">
            <div class="article_blog">
                <img src="http://www.pokertwitt.com/wp-content/uploads/2012/09/poker_night_by_gunblade132-d3ch6n81.jpg" alt="image" class="img-rounded">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="date_publication_article">
                <div class="row list-group-item">
                    <div class="col-sm-4">
                        Publié le : XX/XX/XXXX
                    </div>
                    <div class="col-sm-4">
                        Likes : 30
                    </div>
                    <div class="col-sm-4">
                        Comments : 30
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-4 col-lg-4 decoSeparationTxt"></div>
        </div>
    </div>
</div>