@{
    ViewBag.Title = "Blog_liste_article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Blog";
}

<div class="container">
    <div class="publicite well">
        Encart de publicité
    </div>
    @Html.Partial("~/Views/Blog/partialRechercheBlog.cshtml")
    <div class="row">
        <h2>Articles</h2>
        <div class="list-group">
            <div class="row list-group-item">
                <div class="col-sm-2">
                    <p><img class="img-rounded forumImgDisc" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c39.0.320.320/p320x320/1465201_10152079042699598_252532563_n.jpg?oh=42a2b986128ca825c658b5f1a2e3ab4f&oe=54F65A80&__gda__=1425048200_7f56b84403432326abeb54c24eb071ce" /></p>
                </div>
                <div class="col-sm-10">
                    <h2><a href="#">Jean-Claude Duss</a></h2>
                    <p>Le 13/11/2014 à 12h53</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lorem dapibus, gravida nulla sit amet, interdum nisl. Morbi ac purus accumsan, dictum sem vitae, sagittis justo. Quisque pretium, leo in dictum ullamcorper, nulla nisi consequat urna, eget lacinia nisl ex blandit tellus. In ullamcorper odio sed tristique fringilla. Vivamus eros sem, tempus aliquam mauris eu, laoreet viverra dolor. Donec ac nibh odio. Curabitur elit massa, efficitur eu urna et, condimentum interdum sapien. Donec commodo porta rutrum. Maecenas quis libero quam. Nullam lacinia accumsan diam et vehicula. Donec tristique sem risus, non dictum dui euismod non. Vestibulum interdum id augue vel porta. Pellentesque interdum, mauris nec elementum tincidunt, elit mauris maximus magna, sed euismod nibh erat a ex. Maecenas fringilla ante vel vestibulum gravida. Donec eu suscipit neque. Vestibulum pulvinar molestie metus, non feugiat lectus luctus sed.</p>
                    <a href="ModComment" class="btn btn-default" role="button">Gérer les commentaires</a>
                    <a href="Blog_article_edit" class="btn btn-primary" role="button">Gérer l'article</a>
                </div>
            </div>
            <div class="row list-group-item">
                <div class="col-sm-2">
                    <p><img class="img-rounded forumImgDisc" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10702174_10205016467361976_8906396922194623249_n.jpg?oh=560983af5e7764ec2558673bf4658db7&oe=54E63CCE&__gda__=1423188515_e2a51d113efc7cc4a96bccd16657b6d6" /></p>
                </div>
                <div class="col-sm-10">
                    <h2><a href="#">Lambert Jacques</a></h2>
                    <p>Le 14/11/2014 à 17h17</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lorem dapibus, gravida nulla sit amet, interdum nisl. Morbi ac purus accumsan, dictum sem vitae, sagittis justo. Quisque pretium, leo in dictum ullamcorper, nulla nisi consequat urna, eget lacinia nisl ex blandit tellus. In ullamcorper odio sed tristique fringilla. Vivamus eros sem, tempus aliquam mauris eu, laoreet viverra dolor. Donec ac nibh odio. Curabitur elit massa, efficitur eu urna et, condimentum interdum sapien. Donec commodo porta rutrum. Maecenas quis libero quam. Nullam lacinia accumsan diam et vehicula. Donec tristique sem risus, non dictum dui euismod non. Vestibulum interdum id augue vel porta. Pellentesque interdum, mauris nec elementum tincidunt, elit mauris maximus magna, sed euismod nibh erat a ex. Maecenas fringilla ante vel vestibulum gravida. Donec eu suscipit neque. Vestibulum pulvinar molestie metus, non feugiat lectus luctus sed.</p>
                    <a href="ModComment" class="btn btn-default" role="button">Gérer les commentaires</a>
                    <a href="Blog_article_edit" class="btn btn-primary" role="button">Gérer l'article</a>
                 </div>
            </div>
        </div>
    </div>
</div>
