@{
    Layout = null;
}
<div class="row">
    <div class="rechercheBlog">
       
        <div class="moduleRechercheBlog form-group input-group">
           
                @{
                    if (ViewBag.Title != "Index")
                    {
                        
                        <a href="../Blog" class="form-control btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</a>
                           
                    }
                }
                <select name="select_categorie_blog" class="form-control" id="select_categorie_blog">
                    <option value="Categories" selected>Categories</option>
                </select>
                <input type="text" class="form-control" placeholder="Rechercher">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        
        <div class="btnGererBlog">
            @{
                if (ViewBag.Title != "Index")
                {
                    <a href="Blog_edit" class="btn btn-primary" role="button">Créer / Gérer mon Blog</a>
                }
                else
                {
                    <a href="Blog/Blog_edit" class="btn btn-primary" role="button">Créer / Gérer mon Blog</a>
                }
            }

        </div>
    </div>
</div>