@{
    ViewBag.Title = "PubBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Blog";
}

<div class="container">
    <div class="encartPoub well row">
        Encart de publicité
    </div>

    <div class="row">
        <div class="rechercheBlog">
            <div class="moduleRechercheBlog form-group input-group">
                <select name="select_categorie_blog" class="form-control" id="select_categorie_blog">
                    <option value="Categories" selected>Categories</option>
                </select>
                <input type="text" class="form-control" placeholder="Rechercher">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
            <div class="btnGererBlog">
                <button type="submit" class="btn btn-default">Créer / Gérer mon Blog</button>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Blog - Publicité</h2>
        <div class="list-group">
            <div class="row list-group-item">
                <div class="col-sm-3 bloc_pub">                
                    <h3 class ="pubBlog_title"><a href="Blog/Blog_vue">Blog Title</a></h3>
                    <p>Posté le : 01/01/2015</p>
                    <p>Blogueur : <a href="#">Owner</a></p>
                    <p>Catégorie : <a href="#">Cat1</a></p>
                </div>
                <div class="col-sm-9">
                    <form class="pub_banniere">
                        <input type="radio" value="banniere" name="banniere"/> Bannière
                        <p>Width :</p> <input type="number"/> px
                        <p>Height :</p> <input type="number" /> px
                    </form>
                    <div class="pub_block">
                        <input type="radio" value="banniere" name="banniere" /> Block
                        <p>Width/Height :</p> <input type="number" /> px
                    </div>
                    <div class="pub_adContent">
                        <p>Ad Content :</p> <input type="text" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
