@{
    ViewBag.Title = "Accueil";
    ViewBag.ActiveMenu = "Home";
}

<div id="home-part-1" class="block home-fullscreen-bg">
    <div class="text-center">
        <h1> Bienvenue sur YOUP </h1>
        <h2> The new place to be</h2>
    </div>
    <div class="bottom-item">
        <a class="next-section" href="#home-part-2"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>

<div id="home-part-2" class="block home-fullscreen-bg">

</div>