@{
    ViewBag.Title = "Accueil";
    ViewBag.ActiveMenu = "Home";
}

<div class="block home-fullscreen-bg home-part-1">
    <div class="text-center">
        <h1> Bienvenue sur YOUP </h1>
        <h2> The new place to be</h2>
    </div>
</div>

<div class="block home-fullscreen-bg home-part-2">

</div>