@{
    ViewBag.Title = "Accueil";
    ViewBag.ActiveMenu = "Home";
}

<div id="home-part-1" class="block home-fullscreen-bg">
    <div class="text-center">
        <h1> Bienvenue sur YOUP </h1>
        <h2> The new place to be </h2>
        <a class="next-section" href="#home-part-2"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>

<div id="home-part-2" class="block home-fullscreen-bg">
    <h1>Choisis ta ville :</h1>
    <div id="map-canvas"></div>
</div>

<div id="home-part-3" class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="home-last-members">
                <h1>Derniers inscrits</h1>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <h2>Franky Vincent</h2>
                        <h3>le 12/12/2012</h3>
                        <div class="home-circle-img" style="background-image: url(http://lorempixel.com/400/200);"></div>
                    </div>
                    <div class="col-xs-6 col-sm-3">

                    </div>
                    <div class="col-xs-6 col-sm-3">

                    </div>
                    <div class="col-xs-6 col-sm-3">

                    </div>
                </div>
            </div>
            <div class="home-last-events">

            </div>
            <div class="home-last-articles">

            </div>
        </div>
        <div class="col-sm-4">
            <div class="home-top-5-actifs">

            </div>
            <div class="home-top-5-stars">

            </div>
            <div class="home-top-5-createurs">

            </div>
        </div>
    </div>
</div>